################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/pooCalculaIdade/.vs/pooCalculaIdade/FileContentIndex/3c4fc7c5-d654-4dfa-8cfe-7fd2963bea70.vsidx
